$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;

:root {
    --white: #ffffff;
    --yellow: #FCDA28;
    --yellow2: #FCB500;
    --dark: #111111;
    --black: #000000;
    --padding: 10px;
}

@media (max-width: 1300px) {
    :root {
        --padding: 15px;
    }
}

