.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    font-style: normal;
    background-color: transparent;
    border: 0;    
}

.btn--primary {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.167;
    text-decoration: none;
    background-color: var(--yellow2);
    border-radius: 7px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--yellow);
    }

    &:active {
        cursor: grab;
    }
}


