.header {
    position: relative;
    z-index: 3;
}

.header__phone {
    font-size: 1.125rem;
    line-height: 1.34;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.header__cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 37px;
    color: var(--white);
    text-decoration: none;

    svg {
        width: 32px;
        height: 28px;
    }
}

.header__cart-num {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 24px;
    color: var(--black);
    border-radius: 50%;
    background-color: var(--yellow);
}

.header__actions {
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -320px;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 320px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--dark);
    transition: right 0.3s ease-in-out;
}

.header.opened .header__menu {
    right: 0;
}


.header__toggler {
    margin-top: -3px;
    cursor: pointer;
    color: var(--white);
    transition: color 0.3s ease-in-out;    

    &:hover,
    &:focus {
        color: var(--yellow2);
    }

    &:active {
        cursor: grab;
    }
}

@media (max-width: 499px) {
    .header__actions {
        position:fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
        align-items: stretch;
        height: 50px;
        background-color: var(--dark);
    }

    .header__phone {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: var(--yellow);
    }

    .header__cart {
        width: unset;
        height: unset;
        padding: 10px;
        background-color: var(--yellow2);
    }

    .header__num {
        display: none;
    }

    .header__cart-num {
        right: calc(50% - 20px);
        bottom: calc(50% - 16px);
        background-color: var(--dark);
        color: var(--white);
    }
}

@media (min-width: 500px) {
    .header__logo {
        margin-right: auto;
    }

    .header__toggler {
        order: 1;
    }

    .header__wrapper {
        gap: 1rem;
    }

    .header__actions {
        
        gap: 1rem;
    }

    .header__phone {
        transition: color 0.3s ease-in-out;
    
        &:hover,
        &:focus {
            color: var(--yellow);
        }
    }

    .header__svg {
        display: none;
    }

    .header__cart {
        transition: color 0.3s ease-in-out;

        &:hover,
        &:focus {
            color: var(--yellow2);
        }
    }
    
}

@media (min-width: $desktop) {
    .header {
        background: var(--dark);
    }

    .header__actions {
        gap: 81px;
        padding-right: 15px;
    }

    .header__wrapper {
        padding-top: 23px;
        padding-bottom: 21px;
    }

    .header__toggler {
        display:  none;
    }

    .header__menu {
        position: relative;
        top: unset;
        right: unset;        
        display: flex;
        flex-wrap: wrap;
        margin-right: 40px;
        padding-top: 0;
        padding-bottom: 0;
        width: unset;
        background-color: transparent;
        box-shadow: none;
    }
}