.header {
    position: relative;
    z-index: 3;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -320px;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 320px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--dark);
    transition: right 0.3s ease-in-out;
}

.header.opened .header__menu {
    right: 0;
}


.header__toggler {
    margin-top: -3px;
    cursor: pointer;
    color: var(--white);
    transition: color 0.3s ease-in-out;    

    &:hover,
    &:focus {
        color: var(--yellow2);
    }

    &:active {
        cursor: grab;
    }
}

@media (min-width: $desktop) {
    .header {
        background: var(--dark);
    }

    .header__wrapper {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .header__toggler {
        display:  none;
    }

    .header__menu {
        position: relative;
        top: unset;
        right: unset;        
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;
        width: unset;
        background-color: transparent;
        box-shadow: none;
    }
}