.slider {
    position: relative;
    width: 100%;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__list {
    position: relative;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider__list--move-left {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-name: left;
}

.slider__list--move-right {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-name: right;
}

.slider__item {
    position: relative;
    flex-basis: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.slider__text {    
    position: absolute;
    top: 8px;
    left: 15px;
    margin: 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--white);
}

.slider__arrow {
    position: absolute;
    top: 50%;
    height: 26px;
    width: 14px;
    color: var(--white);
    opacity: 0.8;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    svg {
        height: 26px;
        width: 14px;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.slider__arrow--right {
    right: 12px;
}

.slider__arrow--left {
    left: 12px;

    svg {
        transform: scale(-1,1);
    }
}

.slider__dots {
    position: absolute;
    bottom: 12px;
    display: flex;
    justify-content: center;
    grid-gap: 6px;
    width: 100%;
}

.slider__dot {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: var(--green);
    }

    &:active {
        cursor: grab;
    }
}

.slider__dot--active {
    background-color: var(--orange);
}

.main-destinations__wrapper {
    display: grid;
    justify-content: center;
}

.main-destinations__more {
    justify-self: center;
    grid-gap: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.main-destinations__slider {
    margin-bottom: 8px;
}


@media (min-width: $desktop) {
    .main-destinations__wrapper {
        padding-top: 17px;
        padding-bottom: 80px;
        max-width: 1440px;
        padding-left: 0;
        padding-right: 0;
    }

    .main-destinations__title {
        margin-bottom: 44px;
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;
    }

    .slider__item {
        flex-basis: 800px;
    }

    .slider__list {
        grid-gap: 60px;
        //transform: translateX(calc(-50% + 180px));
    }

    .slider__dots {
        position: relative;
        grid-gap: 10px; 
        bottom: unset;
        left: unset;
        transform: (0,0);
    }

    .slider__dot {
        width: 20px;
        height: 20px;
    }

    .slider__text {
        top: unset;
        bottom: 40px;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }

    .slider__wrapper {
        margin-bottom: 24px;
    }

    .slider__arrow {
        height: 800px;
        width: 400px;
        svg {
            display: none;
        }
    }

    .main-destinations__more {
        gap: 12.5px;
        padding-top: 13.5px;
        padding-bottom: 13.5px;
        padding-left: 33.5px;
        padding-right: 33px;
        font-size: 24px;
        line-height: 32px;
        border-radius: var(--radius);

        svg {
            width: 35px;
            height: 22.5px;
        }
    }

    .main-destinations__slider {
        margin-bottom: 40px;
    }
}