.main-steps__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-steps__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--orange);
}

.main-steps__list {
    display: grid;
    grid-template-columns: 95px 1fr 95px;
}

.main-steps__item-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--green);
}

.main-steps__item {
    display: grid;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
    grid-gap: 20px;
    text-align: center;

    &:first-child {
        justify-items: flex-start;
        text-align: start;
    }

    &:last-child {
        justify-items: flex-end;
        text-align: end;
    }
}

.main-steps__svg-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: var(--orange);
    border-radius: 16px;
}

@media (min-width: $desktop) {
    .main-steps__wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .main-steps__title {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;
    }

    .main-steps__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-steps__item {
        justify-items: center;
        grid-gap: 30px;

        &:first-child {
            justify-items: center;
            justify-content: flex-start;
        }

        &:last-child {
            justify-items: center;
            justify-content: flex-end;
        }
    }

    .main-steps__svg-wrap {
        width: 100px;
        height: 100px;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    .main-steps__item-text {
        font-size: 20px;
        line-height: 24px;
    }
}