.main-top {
    --padding-bottom: 40px;
    position: relative;
    padding-top: 40px;
    padding-bottom: var(--padding-bottom);
    background-color: var(--yellow);
    background-image: url(../../img/top.svg);
    background-repeat: no-repeat;
    background-position: top -70px center;    
}

.main-top__content {
    position: relative; 
    z-index: 1;
}

.main-top__container {
    position: relative;
}

.main-top__h1 {
    max-width: 78%;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 105%;
    color: var(--white);
    text-transform: uppercase;
}

.main-top__text {
    max-width: 53%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
    line-height: 1.167;
    color: var(--black);
}

.main-top__help {
    max-width: 33%;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: .08em;
    color: var(--black);
    text-transform: uppercase;
}

.main-top__remark {
    margin: 0;
    max-width: 33%;
    font-size: 0.8rem;
    line-height: 1;
    color: var(--black);
}

.main-top__img {
    --bottom: calc(-41px - var(--padding-bottom));
    max-width: 300px;
    position: absolute;
    z-index: 0;
    right: var(--padding);
    width: 87%;
    bottom: var(--bottom);
}

@media (min-width: 500px) {
    .main-top {
        --padding-bottom: 60px;
        padding-top: 60px;
    }

    .main-top__h1 {
        font-size: 3rem;
    }

    .main-top__remark,
    .main-top__text {
        font-size: 0.9rem;
    }

    .main-top__img {
        max-width: 350px;
        --bottom: calc(-60px - var(--padding-bottom));
    }    
} 

@media (min-width: $tablet) {
    .main-top__h1 {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 4rem;
    }

    .main-top__text {
        margin-top: 0;
        margin-bottom: 80px;
        font-size: 1rem;
        line-height: 1.167;
    }

    .main-top__help {
        font-size: 2rem;
        line-height: 1.2;
    }

    .main-top__remark {
        font-size: 1rem;
        line-height: 1;
    }

    .main-top__img {
        max-width:50%;
    } 
}

@media (min-width: 840px) {
    .main-top__img {
        //max-width:550px;
    }

    .main-top__h1 {
        font-size: 5rem;
    }

    .main-top__text {
        margin-bottom: 112px;
    }
}

@media (min-width: 1000px) {
    .main-top__h1 {
        font-size: 6rem;
    }

    .main-top__img {
        max-width: 530px;
    }
}


@media (min-width: $desktop) {
    .main-top {
        --padding-bottom: 98px;
        padding-top: 100px;
    }

    .main-top__h1 {
        max-width: 1008px;
        margin-top: 0;
        margin-bottom: 35px;
        font-size: 9rem;
    }

    .main-top__text {
        max-width: 680px;
        margin-top: 0;
        font-size: 1.5rem;
        line-height: 1.167;
    }

    .main-top__help {
        margin-bottom: 5px;
        font-size: 2rem;
        line-height: 1.2;
    }

    .main-top__remark {
        max-width: 420px;
        font-size: 1.125rem;
        line-height: 1.4;
    }


    .main-top__img {
        max-width: 50%;
    }
}
